<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.passthenote">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PassTheNote">
        <activity android:name=".EditPass" android:theme="@style/Theme.PassTheNote.NoActionBar"></activity>
        <activity
            android:name=".AddNewPass"
            android:theme="@style/Theme.PassTheNote.NoActionBar"
            android:parentActivityName=".passMain"/>
        <activity
            android:name=".DetailsPass"
            android:theme="@style/Theme.PassTheNote.NoActionBar" />
        <activity android:name=".passMain" />
        <activity
            android:name=".SplashMain"
            android:theme="@style/Theme.PassTheNote.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Splash"
            android:theme="@style/Theme.PassTheNote.NoActionBar" />
        <activity
            android:name=".ChooseOption"
            android:theme="@style/Theme.PassTheNote.NoActionBar" />
        <activity
            android:name=".EditNote"
            android:theme="@style/Theme.PassTheNote.NoActionBar" />
        <activity
            android:name=".AddNewNote"
            android:parentActivityName=".notesMain"
            android:theme="@style/Theme.PassTheNote.NoActionBar" />
        <activity
            android:name=".notesMain"
            android:launchMode="singleTop" />
        <activity
            android:name=".AddNote"
            android:label="@string/title_activity_add_note"
            android:theme="@style/Theme.PassTheNote.NoActionBar" />
        <activity
            android:name=".DetailsNote"
            android:label="@string/title_activity_details_note"
            android:theme="@style/Theme.PassTheNote.NoActionBar" />
        <activity
            android:name=".contentsNotes"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".ResetPassword"
            android:parentActivityName=".notesMain"
            android:theme="@style/Theme.PassTheNote.NoActionBar" />
        <activity android:name=".Registration" />
        <activity android:name=".Login" />
        <activity android:name=".EmailVerification" />
    </application>

</manifest>